.header {
  background: #b71775;
  height: 100px;
   background-image: URL("https://as2.ftcdn.net/jpg/01/30/23/75/500_F_130237550_ADMRlhtamWyJSfKTYBGnQlwzOgZvgqog.jpg")
}

.header h1 {
  margin: 0;
  padding-top: 35px;
  text-align: center;
  color: white;
  font-size: 3rem;
}
